
.detalle-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .detalle-container h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .detalle-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .detalle-container p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
  }
  
  .detalle-container .precio {
    font-weight: bold;
    color: #28a745; /* Un color verde para el precio */
  }